/**
 * 可复用样式类, 无须手动导入，在 LESS 文件中可直接使用
 */
// 绝对定位居中
.absCenter() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// 单行文字剪切
.text-overflow() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 多行文字剪切
.text-overflow-multiple(@line) {
    display: -webkit-box;
    -webkit-line-clamp: @line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// 线性渐变
.linear-transition(@duration: 0.3s) {
    transition: all linear @duration;
}

// 按钮交互优化样式
.nice-btn() {
    cursor: pointer;
    user-select: none;
}
